body {
	  color: #000000;
	background-color: #ffffff;
	margin-top: 0;
	margin-left: 0;
}


.exonedge2 {
	background-color: bisque;
	color: #000000;

}

.exonedge3 {
       background-color: #E7FCFF;
	color: #000000;

}

.exonedge4 {
    background-color: #FFF6D9;
    color: #000000;
}

.active{
    color: white;
    background-color: red;
    }

.inactive{
    color: white;
    background-color: blue;


    }

.shared{
    color: white;
    background-color: blue;
    }

H1
{
    color: red;
}

H2
{
    color: red;
    }

TH
{
       color: white;
        background-color: #666699;
}

.second
{
    background-color: bisque;
}

.navbar
{
    background-color: lightsteelblue;
    color: black;
}

.greenth
{
    color: black;
    background-color: gainsboro;
}

.exbeg0
{
    color: black;
        background-color: plum;
}

.exbeg1
{
    color: blue;
    background-color: plum;
}

.genepage
{
    background-color:  silver;

}
